* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 30%;
	padding: 5px;
}


.grid-container {
display: grid;
grid-template-areas: 
'header header header'
'menu menu menu';
grid-gap: 10px;
background-color: #F4D3BB;
padding:10px;
}

/* #menu ul { */
	/* margin: 0; */
	/* padding: 56px 0 0; */
/* } */

ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 15px;
	padding: 20px 0 0;
	font-size: 130%;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}

h3 {
	width: 300px;
}

.top {
	background-image:url("./images/afrostyle.jpg");
	height: 500px;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

span {
	background-color: blanchedalmond;
	padding: 1em;
	border: 1px black inset;
	font-size: 15px;
	font-weight: bold;
	/* background-size: 900px;}
 */
}

h1 {
	background-color: blanchedalmond;
	padding: 0;
	border: 1px blanchedalmond;
	font-size: 30px;
	font-weight: bold;
}

li {
	display: inline;
	margin: 50px;
	padding: 30px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

button {
	background-color: blanchedalmond;
	border: #F4D3BB;
	color: white;
	padding: 12px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	border-radius: 80px;
}

/* Phone */
@media (max-width:576px) {
	body {
	display:flex;
	flex-direction: column;
}
ul{
	display: flex;
	flex-direction: column;
}
}



/* image2{
	grid-template-columns: 0%;
} */

/* image3 {
	grid-template-columns: 0%;
}

image4 {
	grid-template-columns: 0%;
} */



