ul {
    list-style-type: none;
	margin: 15px;
	padding: 20px 0 0;
    font-size: 130%;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif
}

ul {
    display: flex;
    justify-content: space-between;
}